<md-sidenav-layout>
  <md-sidenav #sidenav [mode]="modoSidebar" class="app-sidenav">
    <ul>
      <li><a routerLink="/">Cash - Flow</a></li>
      <li><a routerLink="/movimientos">Movimientos</a></li>
      <li><a routerLink="/contacto">Contacto</a></li>
      <li><a routerLink="/saludo">Saludo</a></li>
    </ul>
  </md-sidenav>
  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">face</i>
    </button>
    <span>Cash Flow</span>
    <span class="app-toolbar-filler"></span>
    <i class="material-icons app-toolbar-menu">https</i>
  </md-toolbar>
  <h1>
    <!--enlace con propiedades del componente-->
    {{title}}
  </h1>
  <router-outlet></router-outlet>
</md-sidenav-layout>