<label for="">Formulario</label>
<input type="text" ngModel="Nuevo Movimiento">
<label for="">Fecha</label>
<input type="text" [ngModel]="movimiento.fecha">
<label for="">Importe</label>
<input type="number" [(ngModel)]="movimiento.importe">
<div *ngFor="let tipo of tipos">
  <!--for es un atributo-->
  <label [attr.for]="tipo.id" >
    <!--id es una propiedad-->
    <input 
      [id]="tipo.id" 
      name="tiposGroup" 
      [(ngModel)]="movimiento.tipo" 
      [value]="tipo.id"
      (ngModelChange)="cambioTipo()" 
      type="radio">
      {{ tipo.text }}
  </label>
</div>
<label for="">Categoría</label>
<select name="categoria" [(ngModel)]="movimiento.categoria">
    <option 
        *ngFor="let categoria of categorias"
        [value]="categoria.id"> 
        {{categoria.text}} 
    </option>
</select>
<div>
  <button (click)="guardarMovimiento()">Guardar</button>
</div>
<div>
  {{ movimiento | json}}
</div>