<label for="">Formulario</label>
<md-input  type="text" ngModel="Nuevo Movimiento"></md-input>
<br>
<md-input placeholder="Fecha" type="date" [ngModel]="movimiento.fecha"></md-input>
<br>
<md-input placeholder="Importe" type="number" [(ngModel)]="movimiento.importe"></md-input>
<br>
<md-radio-group [(ngModel)]="movimiento.tipo" (ngModelChange)="usuarioCambioRadioButton()">
  <md-radio-button *ngFor="let tipo of tipos" [value]="tipo.id">
    {{tipo.text}}
  </md-radio-button>
</md-radio-group>
<br>
<br>
<label for="">Categoría</label>
<select name="categoria" [(ngModel)]="movimiento.categoria">
    <option 
        *ngFor="let categoria of categorias"
        [value]="categoria.id"> 
        {{categoria.text}} 
    </option>
</select>
<br>
<div>
  <button md-button color="primary" (click)="guardarMovimiento()">Guardar</button>
</div>
<br>
<md-card>
  {{ movimiento | json}}
</md-card>